.recommendation {
    /* background-image: url(https://media.istockphoto.com/photos/dark-wood-plank-background-picture-id599752764?k=6&m=599752764&s=170667a&w=0&h=Ybg37oGPAn7NAKqCYuk-wY6LX_NYyNZ37Tu28aouZsk=); */
    background-color: #2E3338;
    color: #fff;
    border-radius: 15px;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.87);
    padding: 15px;
    border-radius: .45rem;
}

.saved-recommendation {
    /* background-image: url(https://media.istockphoto.com/photos/dark-wood-plank-background-picture-id599752764?k=6&m=599752764&s=170667a&w=0&h=Ybg37oGPAn7NAKqCYuk-wY6LX_NYyNZ37Tu28aouZsk=); */
    background-color: #2E3338;
    color: #fff;
    border-radius: .45rem;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
    font-size: 10px;
    padding: 15px;
}

.recommendation .card-title {
    background-color: #EE2D3E;
    border-radius: .45rem;
    
}

.site-header {
    background-color: #2E3338;
    padding: 15px;
    color: #fff;
    
}

.recommendation .save-btn {
    margin-right: 10px;
    
}

.recommendation .save-btn h5 {
    font-size: 18px;
    margin: 0;
}

.recommendation .save-btn .fa-bookmark {
    padding-left: 10px;
    color: #EE2D3E;
}

.recommendation .next-btn {
    margin-left: 10px;
    
}

.recommendation .next-btn h5 {
    font-size: 18px;
    margin: 0;
}

.recommendation .next-btn .fa-angle-right {
    padding-left: 10px;
    color: #EE2D3E;
}

.footer {
    padding: 30px;
    color: #fff;
}

.site-header .logo {
    color: #EE2D3E;
}

.blurb {
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .recommendation .save-btn {
        margin-right: 0;
    }
    .recommendation .next-btn {
        margin-left: 0;
    }
  }